{% extends 'main/index.html' %}
{% load static %}

{% block title %} {{ request.user.username }} Profile {% endblock %}

{% block content %}
<main class="my-5 mt-5 pt-5">
<div class="container py-4 pt-5">

    <nav class="ms-2" aria-label="breadcrumb">
        <ol class="breadcrumb bg-light shadow-sm rounded-3 p-3">
            <li class="breadcrumb-item"><a href="{% url 'main:home_view' %}" class="text-primary">Home</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-primary">Candidate</a></li>
            <li class="breadcrumb-item active">Candidate Profile</li>
        </ol>
    </nav>

    <div class="row g-4">
        <!-- Profile Card -->
        <div class="col-md-4">
            <div class="card border-0 shadow-lg rounded-4 animate__animated animate__fadeInLeft">
                <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Profile</h4>
                    {% if request.user == candidate_profile.user %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#editProfileModal" class="btn btn-light btn-sm">Edit</a>
                    {% endif %}
                </div>
                <div class="card-body text-center p-5">
                    <div class="p-2 text-center">
                        <div class="d-flex flex-row gap-3 justify-content-center align-items-center">
                            <p class="fw-bold text-muted">Your Profile Completion</p> 
                            {% if candidate_profile.approved %}
                                <i class="bi bi-patch-check-fill text-success" style="font-size: 1.5rem"></i>
                            {% else %}
                                <i class="bi bi-exclamation-circle-fill text-danger" style="font-size: 1.5rem"></i>
                            {% endif %}
                        </div>
                        
                        <!-- Progress Bar -->
                        <div class="progress mt-3 shadow-sm" style="height: 20px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated 
                                {% if candidate_profile.profile_completion <= 40 %}bg-danger
                                {% elif candidate_profile.profile_completion <= 70 and candidate_profile.profile_completion >= 41 %}bg-warning
                                {% elif candidate_profile.profile_completion >= 80 %}bg-success
                                {% endif %}" 
                                style="width: {{candidate_profile.profile_completion}}%;">
                                {{ candidate_profile.profile_completion }}%
                            </div>
                        </div>
                    </div>

                    <!-- Avatar -->
                    <img src="{{ candidate_profile.avatar.url }}" alt="Avatar" class="img-fluid rounded-circle shadow-lg mt-4" style="width: 150px; height: 150px; object-fit: cover; transition: transform 0.3s ease;">
                    
                    <h2 class="mt-3">{{ candidate_profile.user.first_name }} {{ candidate_profile.user.last_name }}</h2>
                    
                    <!-- Bio -->
                    <div class="text-start mt-4">
                        <h6 class="fw-bold">Bio:</h6>
                        {% if candidate_profile.about %}
                            <p class="text-muted">{{ candidate_profile.about }}</p>
                        {% else %}
                            <p class="text-muted fst-italic">No bio available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content Section -->
        <div class="col-md-8">
            <div class="card shadow-lg rounded-4 animate__animated animate__fadeInRight">
                <div class="card-body">
                    <!-- Navigation Buttons -->
                    <div class="btn-group d-flex flex-row justify-content-between gap-3" role="group" aria-label="Profile Info Buttons">
                        <button class="btn btn-outline-warning shadow-sm d-flex flex-column align-items-center" id="skills-btn">
                            <i class="bi bi-tools fs-4"></i>
                            Skills
                        </button>
                        <button class="btn btn-outline-warning shadow-sm d-flex flex-column align-items-center" id="projects-btn">
                            <i class="bi bi-file-code fs-4"></i>
                            Projects
                        </button>
                        <button class="btn btn-outline-warning shadow-sm d-flex flex-column align-items-center" id="edu-btn">
                            <i class="bi bi-book fs-4"></i>
                            Education
                        </button>
                        <button class="btn btn-outline-warning shadow-sm d-flex flex-column align-items-center" id="experience-btn">
                            <i class="bi bi-person-workspace fs-4"></i>
                            Experience
                        </button>
                    </div>
                </div>
            </div>

            <!-- Skills Section -->
            <div class="card shadow-lg rounded-4 mt-4" id="skills-info" style="display: block;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h3>Skills</h3>
                        {% if request.user == candidate_profile.user %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editSkillsModal" class="btn btn-primary btn-sm shadow-sm"><i class="bi bi-plus-circle"></i></a>
                        {% endif %}
                    </div>
                    <div class="container p-5">
                        {% if candidate_profile.skills.all %}
                            {% for skill in candidate_profile.skills.all %}
                                <div class="d-flex justify-content-between mb-3 p-3 rounded-3 shadow-sm align-items-center bg-light">
                                    <h5 class="mb-0">{{ skill.skill_name }}</h5>
                                    <a href="{% url 'candidate:remove_skill' skill.id %}" class="btn btn-danger btn-sm shadow-sm"><i class="bi bi-trash"></i></a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="alert alert-danger shadow-sm">No Skills records found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <!-- Projects Section -->
            <div class="card shadow-lg rounded-4 mt-4" id="projects-info" style="display: none;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h3>Projects</h3>
                        {% if request.user == candidate_profile.user %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editProjectsModal" class="btn btn-primary btn-sm shadow-sm"><i class="bi bi-plus-circle"></i></a>
                        {% endif %}
                    </div>
                    <div class="container p-5">
                        {% if candidate_profile.projects.all %}
                            {% for project in candidate_profile.projects.all %}
                                <div class="card mb-3 shadow-sm p-3">
                                    <h5>{{ project.title }}</h5>
                                    <p class="text-muted">{{ project.description }}</p>
                                    <p class="text-muted">{{ project.tools_used }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="alert alert-danger shadow-sm">No Projects records found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Education Section -->
            <div class="card shadow-lg rounded-4 mt-4" id="edu-info" style="display: none;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h3>Education</h3>
                        {% if request.user == candidate_profile.user %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editEducationModal" class="btn btn-primary btn-sm shadow-sm"><i class="bi bi-plus-circle"></i></a>
                        {% endif %}
                    </div>
                    <div class="container p-5">
                        {% if candidate_profile.education.all %}
                            {% for edu in candidate_profile.education.all %}
                            <div class="card mb-3 shadow-sm p-3">
                                <h5 class="fw-bold">{{ edu.degree }}</h5>
                                <p class="text-muted mb-1">
                                    <strong>University:</strong> {{ edu.university }}
                                </p>
                                <p class="text-muted mb-1">
                                    <strong>Major:</strong> {{ edu.major }}
                                </p>
                                <p class="text-muted mb-1">
                                    <strong>GPA:</strong> {{ edu.GPA }}
                                </p>
                                <p class="text-muted mb-1">
                                    <strong>Certificate:</strong> {{ edu.certificate }}
                                </p>
                                <p class="text-muted mb-1">
                                    <strong>Start Date:</strong> {{ edu.start_date }}
                                </p>
                                <p class="text-muted mb-1">
                                    <strong>End Date:</strong> 
                                    {% if edu.end_date %}
                                        {{ edu.end_date }}
                                    {% else %}
                                        <em>Ongoing</em>
                                    {% endif %}
                                </p>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p class="alert alert-danger shadow-sm">No Education records found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Experience Section -->
            <div class="card shadow-lg rounded-4 mt-4" id="experience-info" style="display: none;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h3>Experience</h3>
                        {% if request.user == candidate_profile.user %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editExperienceModal" class="btn btn-primary btn-sm shadow-sm"><i class="bi bi-plus-circle"></i></a>
                        {% endif %}

                    </div>
                    <div class="container p-5">
                        {% if candidate_profile.experience.all %}
                            {% for exp in candidate_profile.experience.all %}
                                <div class="card mb-3 shadow-sm p-3">
                                    <!-- Job Position -->
                                    <h5 class="fw-bold">{{ exp.position }}</h5>
                                    
                                    <!-- Company -->
                                    <p class="text-muted mb-1">
                                        <strong>Company:</strong> {{ exp.company }}
                                    </p>
                                    
                                    <!-- Start Date -->
                                    <p class="text-muted mb-1">
                                        <strong>Start Date:</strong> {{ exp.start_date }}
                                    </p>
                                    
                                    <!-- End Date -->
                                    <p class="text-muted mb-1">
                                        <strong>End Date:</strong> 
                                        {% if exp.end_date %}
                                            {{ exp.end_date }}
                                        {% else %}
                                            <em>Ongoing</em>
                                        {% endif %}
                                    </p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="alert alert-danger shadow-sm">No Experience records found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label class="form-label" for="about">about</label>
                            <textarea id="about" class="form-control" name="about" placeholder="Candidate Bio">{{candidate_profile.about}}</textarea>

                            <label class="form-label" for="first_name">First Name</label>
                            <input type="text" id="first_name" value="{{candidate_profile.user.first_name}}" class="form-control" name="first_name" placeholder="John">

                            <label class="form-label" for="last_name">Last Name</label>
                            <input type="text" id="last_name" value="{{candidate_profile.user.last_name}}" class="form-control" name="last_name" placeholder="Doe">

                            <div class="mb-3">
                                <label for="id_avatar" class="form-label">Avatar</label>
                                <input type="file" class="form-control" id="id_avatar" name="avatar">
                            </div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<div class="modal fade" id="editSkillsModal" tabindex="-1" aria-labelledby="editSkillsModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="POST" action="{% url 'candidate:add_skill' %}" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editSkillsModalLabel">Add Skills</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <select class="form-select" name="skill">
                                            {% for skill in skills %}
                                            <option class="form-option" value="{{skill.id}}">{{ skill.skill_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        {% if request.user == candidate_profile.user %}
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#addSkillsModal" class="btn btn-primary"><i class="bi bi-plus"></i></a>
                                        {% endif %}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- new skill modal -->
                    <div class="modal fade" id="addSkillsModal" tabindex="-1" aria-labelledby="editSkillsModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form class="dropdown-item" action="{% url 'organization:new_skill_view' %}?next={{ request.path|urlencode }}" method="post">

                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addSkillsModalLabel">New Skills</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="skill">Skill Name</label>

                                        <input type="text" name="skill_name" class="form-control" id="skill">
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#addSkillsModal" class="btn btn-primary"><i class="bi bi-plus"></i></a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add New Skill</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

 <div class="modal fade" id="editProjectsModal" tabindex="-1" aria-labelledby="editProjectsModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="POST" action="{% url 'candidate:add_project' %}" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editProjectModalLabel">Add Project</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <label for="title" class="form-label">Title</label>
                                        <input class="form-control" id="title" type="text" name="title">

                                        <label for="description" class="form-label">Description</label>
                                        <textarea class="form-control" id="description" name="description"></textarea>

                                        <label for="tools_used" class="form-label">Used Tools</label>
                                        <textarea class="form-control" id="tools_used" name="tools_used"></textarea>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>



                    <div class="modal fade" id="editEducationModal" tabindex="-1" aria-labelledby="editEducationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="POST" action="{% url 'candidate:add_education' %}" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editEducationModalLabel">Add Education</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="mb-3">
                                            <label for="university" class="form-label">University</label>
                                            <input type="text" class="form-control" id="university" name="university" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="degree" class="form-label">Degree</label>
                                            <select class="form-select" id="degree" name="degree" required>
                                                <option value="">Select Degree</option>
                                                {% for value, label in degree_choices %}
                                                <option value="{{ value }}">{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="major" class="form-label">Major</label>
                                            <input type="text" class="form-control" id="major" name="major" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="start_date" class="form-label">Start Date</label>
                                            <input type="date" class="form-control" id="start_date" name="start_date" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="end_date" class="form-label">End Date</label>
                                            <input type="date" class="form-control" id="end_date" name="end_date" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="GPA" class="form-label">GPA</label>
                                            <input type="number" class="form-control" id="GPA" name="GPA" step="0.01" min="0" max="5" value="5.0" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="certificate" class="form-label">Certificate</label>
                                            <input type="text" class="form-control" id="certificate" name="certificate" required>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>



<div class="modal fade" id="editExperienceModal" tabindex="-1" aria-labelledby="editExperienceModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="POST" action="{% url 'candidate:add_experience' %}" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editExperienceModalLabel">Add Experience</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="mb-3">
                                            <label for="company" class="form-label">Company Name</label>
                                            <input type="text" class="form-control" id="company" name="company" required>
                                            <div class="invalid-feedback">
                                                Please provide a company name.
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="position" class="form-label">Position</label>
                                            <input type="text" class="form-control" id="position" name="position" required>
                                            <div class="invalid-feedback">
                                                Please provide your position.
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="exp_start_date" class="form-label">Start Date</label>
                                            <input type="date" class="form-control" id="exp_start_date" name="start_date" required>
                                            <div class="invalid-feedback">
                                                Please select a start date.
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="exp_end_date" class="form-label">End Date</label>
                                            <input type="date" class="form-control" id="exp_end_date" name="end_date" required>
                                            <div class="invalid-feedback">
                                                Please select an end date.
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>





    </div>
</div>

<!-- JavaScript -->
<script>
    document.getElementById('skills-btn').onclick = function() {
        toggleSection('skills');
    };
    document.getElementById('projects-btn').onclick = function() {
        toggleSection('projects');
    };
    document.getElementById('edu-btn').onclick = function() {
        toggleSection('edu');
    };
    document.getElementById('experience-btn').onclick = function() {
        toggleSection('experience');
    };

    function toggleSection(section) {
        const sections = ['skills', 'projects', 'edu', 'experience'];
        sections.forEach(function(sec) {
            const sectionElement = document.getElementById(`${sec}-info`);
            if (sec === section) {
                sectionElement.style.display = 'block';
            } else {
                sectionElement.style.display = 'none';
            }
        });
    }
</script>
</main>
{% endblock %}