{% extends 'main/index.html' %}

{% block title %} Sign Up {% endblock %}
{% block content %}
<main class="my-5 pt-5 mt-5">
    <div class="form-container">
        <h1>Sign Up</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <div class="d-flex ">
                <label for="candidate">Candidate</label>
                <input id="candidate" type="radio" name="acc_type" value="candidate" required>
                <label for="organization">Organization</label>
                <input id="organization" type="radio" name="acc_type" value="organization">
            </div>
        <button type="submit">Sign Up</button>
    </form>
    </div>
    <a href="{% url 'accounts:signin' %}" class="button">Already Have an account?</a>
</main>
{% endblock %}
