{% extends 'main/index.html' %}
{% block title %} {{org.profile.username}} Profile {% endblock %}

{% block content %}
<main class="my-5 mt-5 pt-5">
    <div class="container">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main:home_view' %}" class="text-primary">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-primary">Organization</a></li>
                <li class="breadcrumb-item active">Organization Profile</li>
            </ol>
        </nav>

        <div class="row g-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="{{ org.logo.url }}" alt="logo" class="profile-image mb-3 rounded-circle" width="100%">
                        {% if request.GET.edit %}
                        <form class="d-flex pb-3 input-group" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" class="form-control" name="logo" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </form>
                        {% endif %}
                        <div class="d-flex gap-2 justify-content-center">
                            <div>
                                <h5 class="card-title text-center">@{{ org.name }}</h5>
                            </div>
                            <div>
                                {% if org.approved %}
                                <i class="bi bi-patch-check-fill text-success" style="font-size: 1.2rem"></i>
                                {% else %}

                                <i class="bi bi-exclamation-circle-fill text-danger" style="font-size: 1.2rem"></i>

                                {% endif %}
                            </div>
                        </div>
                        <p class="text-muted">{{ user.first_name }} {{ user.last_name }}</p>
                        <p class="text-muted">{{ org.description }}</p>
                        <p class="text-muted">{{ org.location }}</p>
                        <p class="text-muted">Since: {{org.created_at}}</p>
                        {% if request.user == org.profile %}
                        <div class="p-2">
                            <p>Your Profile Completion</p>
                            <div class="progress">
                                <div class="progress-bar {% if org.profile_completion <= 40 %}bg-danger{% elif org.profile_completion <= 70 and org.profile_completion >= 41 %}bg-warning{% elif org.profile_completion >= 80 %}bg-success{% endif %}" style="width: {{org.profile_completion}}%">{{ org.profile_completion }}%</div>
                            </div>
                        </div>
                        <form class="text-end">

                            {% if request.GET.edit %}
                            <input type="hidden" name="save_edits" value="true">
                            <button type="submit" class="btn btn-primary">Done <i class="bi bi-file-earmark-check" style="font-size: 1rem"></i></button>
                            {% else %}
                            <input type="hidden" name="edit" value="true">
                            <button type="submit" class="btn"><i class="bi bi-pencil-square text-warning" style="font-size: 1.5rem"></i></button>
                            {% endif %}
                        </form>

                        {% endif %}
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex gap-2">
                            <i class="fas fa-globe me-2"></i>
                            <span class="text-muted">Website:</span>
                            {% if request.GET.edit %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="url" name="website" value="{{org.website}}" required>
                                <input type="submit" hidden>
                            </form>
                            {% else %}
                            <a href="#" class="social-link">{{ org.website }}</a>
                            {% endif %}
                        </li>
                        <li class="list-group-item d-flex gap-2">
                            <i class="fab fa-linkedin me-2"></i>
                            <span class="text-muted">Linked In:</span>
                            {% if request.GET.edit %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="url" name="linkedin" value="{{org.linkedin}}" required>
                                <input type="submit" hidden>
                            </form>
                            {% else %}
                                <a href="#" class="social-link">{{ org.linkedin }}</a>
                            {% endif %}

                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row mb-3">

                            <div class="col-sm-3">
                                <h6 class="mb-0">Organization Name</h6>
                            </div>
                            <div class="col-sm-9 text-muted">
                                {% if request.GET.edit %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input id="name" type="text" name="name" value="{{org.name}}" required>
                                    <input type="submit" hidden />
                                </form>
                                {% else %}
                                {{org.name}}
                                {% endif %}
                            </div>

                        </div>
                        <div class="row mb-3">

                            <div class="col-sm-3">
                                <h6 class="mb-0">Organization Description</h6>
                            </div>
                            <div class="col-sm-9 text-muted">
                                {% if request.GET.edit %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input id="description" type="text" name="description" value="{{org.description}}" required>
                                    <input type="submit" hidden />
                                </form>
                                {% else %}
                                {{org.description}}
                                {% endif %}
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-muted">
                                {% if request.GET.edit %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input id="email" type="text" name="email" value="{{org.email}}" required>
                                    <input type="submit" hidden />
                                </form>
                                {% else %}
                                {{org.email}}
                                {% endif %}

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-muted">
                                {% if request.GET.edit %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input id="phone_number" type="text" name="phone_number" value="{{org.phone_number}}" required>
                                    <input type="submit" hidden />
                                </form>
                                {% else %}
                                {{org.phone_number}}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-muted">
                                {% if request.GET.edit %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input id="location" type="text" name="location" value="{{org.location}}" required>
                                    <input type="submit" hidden />
                                </form>
                                {% else %}
                                {{ org.location }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Jop Title</h6>
                            </div>
                            <div class="col-sm-9 text-muted">
                                {% if request.GET.edit %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input id="job_title" type="text" name="job_title" value="{{org.job_title}}" required>
                                    <input type="submit" hidden />
                                </form>
                                {% else %}
                                {{ org.job_title }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</main>
{% endblock %}