{% extends 'main/index.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block content %}

<main class="pt-5">
    <div class="container">

        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main:home_view' %}" class="text-primary">Home</a></li>
                <li class="breadcrumb-item active">Contact Us</li>
            </ol>
        </nav>

        <div class="container pt-3 pb-5">
            <h1 class="display-6 text-center special-color">Contact Us</h1>
            <div class="row row-cols-1 row-cols-md-2 g-5 justify-content-center">
                <div class="col shadow rounded p-3 bg-organization text-light">
                <h1 class="display-5">Reach out for us:</h1>
                <h4>Fill the form bellow</h4>
                <form class="mt-5" action="{% url 'main:contact_view' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="">
                        <div class="">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="first_name">First name</label>
                                <input type="text" id="first_name" name="first_name" class="form-control" required/>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="last_name">Last name</label>
                                <input type="text" id="last_name" name="last_name" class="form-control" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required/>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="subject">Message Subject</label>
                        <input type="text" id="subject" name="subject" class="form-control" placeholder="Enter Your message subject" required>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="message">Message</label>
                        <textarea id="message" name="contact_message" class="form-control" placeholder="Enter Your message content here, Questions or Suggestion, or any message" required></textarea>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block p-2 mb-4">Send Message</button>
                    </div>
                </form>
            </div>

            </div>
        </div>
    </div>
</main>
{% endblock %}