{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{% block title %}{% endblock %}</title>

    {% block style %}

    {% endblock %}
</head>
<body class="{% if request.GET.type == 'candidate' %}bg-candidate{% elif request.GET.type == 'organization' %}bg-organization{% else %}bg-candidate{% endif %}">
    <div class="hero-section ">
        <header class="header">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <!-- Logo Section -->
                    <div class="col-lg-2 col-md-12 text-center text-lg-start">
                        <div class="header-logo">
                            <a href="{% url 'main:home_view' %}?type=candidate" class="logo">
                                <img src="{% static 'images/jobletlogo.png' %}" alt="Joblet Logo">
                            </a>
                        </div>
                    </div>

                    <!-- Navigation Menu -->
                    <div class="col-lg-8 col-md-12 pe-5">
                        <nav class="navbar navbar-expand-lg justify-content-end mt-2">
                            <ul class="navbar-nav">
                                <li><a class="nav-link" href="{% url 'main:home_view' %}?type=candidate">Home</a></li>
                                {% if request.user.is_authenticated %}
                                <li><a class="nav-link" href="{% url 'direct_messages:direct_messages_view' %}">DM</a></li>
                                {% endif %}
                                <li><a class="nav-link" href="#">About</a>
                                </li>
                                <li><a class="nav-link" href="{% url 'main:contact_view' %}">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Sign In/Register Buttons -->
                    <div class="col-lg-2 col-md-12 text-center text-lg-end ps-5 mt-2">
                        <div class="header-right ps-5">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'dashboard:dashboard_view' %}" class="btn btn-signin">Dashboard</a>
                                {% else %}
                                {% for group in request.user.groups.all %}
                                    {% if group.name == 'candidate' %}
                                        <a href="{% url 'candidate:candidate_profile_view' request.user.username %}" class="btn btn-signin">Profile</a>
                                    {% elif group.name == 'organizations' %}
                                        <a href="{% url 'organization:org_profile' request.user.username %}" class="btn btn-signin">Profile</a>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                                <a href="{% url 'accounts:signout' %}" class="btn btn-register">Logout</a>

                            {% else %}
                                <a href="{% url 'accounts:signin' %}" class="btn {% if request.GET.type == 'candidate' %}btn-signin{% else %}btn-org{% endif %} ">Sign in</a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" class="btn btn-register">Register</a>
                                <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">

                                            <div class="modal-content bg-candidate">
                                                <div class="modal-header">
                                                    <h5 class="Register" id="editSkillsModalLabel">Register</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container d-flex flex-column justify-content-center gap-3">
                                                       <div class="text-center">
                                                           <a href="{% url 'accounts:candidate_signup_view' %}" class="btn btn-register p-4 ps-5 pe-5 rounded-1">Register as a Candidate</a>
                                                       </div>
                                                        <div class="text-center">
                                                            <a href="{% url 'accounts:organization_signup_view' %}" class="btn btn-register p-4 ps-5 pe-5 rounded-1">Register as an Organization</a>
                                                       </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="container alert {{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% endif %}
    {% block content %}

    {% endblock %}


    <footer class="custom-footer bg-candidate text-dark">
            <div class="container">
                <div class="footer-content">
                    <div class="about-section">
                        <h5>Joblet</h5>
                        <p>Your trusted platform for finding your perfect job match. Discover the perfect fit for your needs with ease and confidence.</p>
                    </div>
                    <div class="social-section">
                        <h5>Follow Us</h5>
                        <div class="social-icons">
                            <a href="http://www.facebook.com" aria-label="Facebook"><i class="fab fa-facebook text-dark"></i></a>
                            <a href="http://www.twitter.com" aria-label="Twitter"><i class="fab fa-twitter text-dark"></i></a>
                            <a href="http://www.instagram.com" aria-label="Instagram"><i class="fab fa-instagram text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2024 joblet. All Rights Reserved. | <a href="#">Privacy Policy</a></p>
            </div>
        </footer>
</body>
</html>
